In [ ]:
#讀取資料檔案
import pandas as pd
df=pd.read_excel('nba2.xlsx')

In [ ]:
#顯示資料內容前六列
df.head(n=6)

                    DATASET  R/P        DATE  ... REST DAYS  OPENING ODDS  SPREAD
0  2016-2017 Regular Season    1  10/25/2016  ...         3         205.5     9.5
1  2016-2017 Regular Season    1  10/25/2016  ...         3          -9.5    -9.5
2  2016-2017 Regular Season    1  10/25/2016  ...         3         194.0     6.0
3  2016-2017 Regular Season    1  10/25/2016  ...         3          -6.0    -6.0
4  2016-2017 Regular Season    1  10/25/2016  ...         3         210.5     8.0
5  2016-2017 Regular Season    1  10/25/2016  ...         3          -8.0    -8.0

[6 rows x 43 columns]

# 相關分析:用於分析兩變數是否有顯著相關(量*量)

In [ ]:
#利用numpy之相關性corr相關分析的語法
import numpy as np
b=np.corrcoef(df["3P"],df["PTS"])
b[1,0]

array([[1.        , 0.51042529],
       [0.51042529, 1.        ]])

In [ ]:
#利用scipy函式庫中的stats功能，計算皮爾森相關係數(pearsonr)及檢定分析之P值
from scipy import stats
(a,pv)=stats.pearsonr(df['PTS'],df["3P"]) 
print('r = %.2f,  p_value= %.2f'%(a,pv))

r = 0.51,  p_value= 0.00

In [ ]:
#同時想一次進行很多變數的相關分析
#量的資料
qu=['DIFF', '1Q',
       '2Q', '3Q', '4Q', 'F', 'MIN', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA',
       'OR', 'ORR', 'DRR', 'FT%', 'TOV%', 'EFG%', 'DRB%', 'ORB%', 'DR', 'TOT',
       'A', 'PF', 'ST', 'TO', 'BL', 'PTS', 'POSS', 'PACE', 'OEFF', 'DEFF',
       'REST DAYS', 'OPENING ODDS', 'SPREAD']
len(qu)

36

In [ ]:
#利用scipy之相關性corr相關分析的語法
#皮爾森相關分析(量*量)
from scipy import stats
name=[]
alist=[]
pvlist=[]
for i in range(len(qu)):
  #取qu變數與PTS做皮爾森相關分析，a為相關係數，pv為P值
  (a,pv)=stats.pearsonr(df['PTS'],df[qu[i]]) 
  name.append(qu[i])
  alist.append(a)
  pvlist.append(pv)
print(alist)

[0.5778762400807245, 0.506943552690202, 0.4814094878938445, 0.5030932587822187, 0.46750752474292295, 0.9999986236064807, 0.19659529486593535, 0.8293571093628321, 0.26502158603215875, 0.510425290754564, 0.2379978378651856, 0.3521474378697, 0.30719053970415, 0.002234613344470372, 0.035799052121629565, -0.3784571835617224, 0.2675437054354363, -0.19251736457762147, 0.7357352807418174, 0.014872756658000526, 0.14473737297983286, 0.11814317199866095, 0.09908815082530609, 0.5775525728531262, 0.14251875332919553, 0.11203411555018407, -0.1064516865521576, 0.0755034697204741, 0.9999999999999999, 0.42880586070483706, 0.3758273929190605, 0.8639890407325426, 0.12654357805009045, 0.07111423892372884, -0.19511018498040802, -0.2597120258019107]

In [ ]:
#display.float_format:接受浮點數並具有格式的字串，bug修復顯示格式以避免運行時錯誤
#lambda:定義函式，執行運算式時將會產生函式物件
#取6位小數點
pd.set_option('display.float_format',lambda x:'%.5f'%x)
#資料結構以DataFrame顯示 
#語法:pd.DataFrame(資料,index名稱,columns名稱)
result=pd.DataFrame(alist,name,columns=['相關係數'])
#將pvlist加進result第二欄
result.insert(1,'p-value',pvlist) 
result

                 相關係數  p-value
DIFF          0.57788  0.00000
1Q            0.50694  0.00000
2Q            0.48141  0.00000
3Q            0.50309  0.00000
4Q            0.46751  0.00000
F             1.00000  0.00000
MIN           0.19660  0.00000
FG            0.82936  0.00000
FGA           0.26502  0.00000
3P            0.51043  0.00000
3PA           0.23800  0.00000
FT            0.35215  0.00000
FTA           0.30719  0.00000
OR            0.00223  0.91179
ORR           0.03580  0.07586
DRR          -0.37846  0.00000
FT%           0.26754  0.00000
TOV%         -0.19252  0.00000
EFG%          0.73574  0.00000
DRB%          0.01487  0.46092
ORB%          0.14474  0.00000
DR            0.11814  0.00000
TOT           0.09909  0.00000
A             0.57755  0.00000
PF            0.14252  0.00000
ST            0.11203  0.00000
TO           -0.10645  0.00000
BL            0.07550  0.00018
PTS           1.00000  0.00000
POSS          0.42881  0.00000
PACE          0.37583  0.00000
OEFF          0.86399  0.00000
DEFF          0.12654  0.00000
REST DAYS     0.07111  0.00042
OPENING ODDS -0.19511  0.00000
SPREAD       -0.25971  0.00000

# Exercise1:
請分析‘2019STA.xlsx'檔案中小考(Quiz)、期中考(Mid_Exam)、期末考(Final_Exam)成績彼此間是否具有顯著地相關性？

# t檢定:用於比較兩樣本的平均數是否有顯著差異(類*量)

In [ ]:
#t檢定:用於比較兩樣本的平均數是否有顯著差異(類*量)
#檢測失敗與勝利其3P三分球進球數是否有差異?
#匯入scipy模組
from scipy import stats
#語法:stats.ttest_ind(樣本1x,樣本2y)
#取當W/L=0 (失敗)時的3P與W/L=1(勝利)時的3P去做t檢定
(t,p)=stats.ttest_ind(df['PTS'][df['W/L']==0],df['PTS'][df['W/L']==1])
print('t value= %.2f,  p_value= %.2f'%(t,p))

t value= -26.12,  p_value= 0.00

In [ ]:
#列出失敗與勝利平均三分球之進球數數
a=df.groupby('W/L').mean()
b=a[["PTS"]]
b

          PTS
W/L
0    99.92927
1   111.25122

In [ ]:
#列出失敗與勝利平均三分球之進球數數
c=df.groupby('W/L').count()
d=c[["DATASET"]]
d

     DATASET
W/L
0       1230
1       1230

In [ ]:
d.merge(b,on="W/L")

     DATASET       PTS
W/L
0       1230  99.92927
1       1230 111.25122

In [ ]:
#同時想一次進行很多變數的t檢定
#把變數放進名為qv2的陣列中
qv2=['DIFF', '1Q',
       '2Q', '3Q', '4Q', 'F', 'MIN', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA',
       'OR', 'ORR', 'DRR', 'FT%', 'TOV%', 'EFG%', 'DRB%', 'ORB%', 'DR', 'TOT',
       'A', 'PF', 'ST', 'TO', 'BL', 'PTS', 'POSS', 'PACE', 'OEFF', 'DEFF',
       'REST DAYS', 'OPENING ODDS', 'SPREAD']

In [ ]:
name=[]
alist=[]
pvlist=[]
for i in range(len(qv2)):
  #分別取t_test變數與W/L=0及W/L=1的交集去做t檢定
  (a,pv)=stats.ttest_ind(df[qv2[i]][df['W/L']==0],df[qv2[i]][df['W/L']==1])
  #將t_test項目加進name中
  name.append(qv2[i])
  #將a(t值)加進alist中
  alist.append(a)
  #將pv值加進pvlist中
  pvlist.append(pv)

In [ ]:
#lambda表示式是一種效能比較好的迴圈,跑比較快
pd.set_option('display.float_format',lambda x:'%.2f'%x)
#將alist資料結構用DataFrame顯示出
result=pd.DataFrame(alist,name,columns=['t-value'])
#將pvlist加進result第二欄
result.insert(1,'p-value',pvlist)
result

              t-value  p-value
DIFF           -67.64     0.00
1Q             -12.53     0.00
2Q             -12.46     0.00
3Q             -13.61     0.00
4Q              -9.70     0.00
F              -26.12     0.00
MIN              0.00     1.00
FG             -21.33     0.00
FGA              2.05     0.04
3P             -14.03     0.00
3PA             -0.92     0.36
FT              -6.52     0.00
FTA             -5.64     0.00
OR               2.09     0.04
ORR             -2.09     0.04
DRR             18.19     0.00
FT%             -6.45     0.00
TOV%             5.25     0.00
EFG%           -26.61     0.00
DRB%            -4.59     0.00
ORB%            -4.59     0.00
DR             -18.19     0.00
TOT            -13.37     0.00
A              -16.49     0.00
PF               5.73     0.00
ST              -7.11     0.00
TO               5.66     0.00
BL              -7.93     0.00
PTS            -26.12     0.00
POSS             0.00     1.00
PACE             0.00     1.00
OEFF           -29.80     0.00
DEFF            29.80     0.00
REST DAYS       -2.52     0.01
OPENING ODDS    16.60     0.00
SPREAD          20.48     0.00

In [ ]:
a=df.groupby('W/L').mean()
a

     R/P  H/R  W/E   DIFF    1Q  ...   OEFF   DEFF  REST DAYS  OPENING ODDS  SPREAD
W/L                              ...
0   1.00 1.58 1.48 -11.32 25.10  ... 103.03 114.75       1.00        136.91    2.61
1   1.00 1.42 1.52  11.32 27.96  ... 114.75 103.03       1.07         68.07   -2.61

[2 rows x 39 columns]

In [ ]:
d.merge(a,on="W/L")

     DATASET  R/P  H/R  W/E  ...   DEFF  REST DAYS  OPENING ODDS  SPREAD
W/L                          ...
0       1230 1.00 1.58 1.48  ... 114.75       1.00        136.91    2.61
1       1230 1.00 1.42 1.52  ... 103.03       1.07         68.07   -2.61

[2 rows x 40 columns]

# Exercise2:
請分析‘2019STA.xlsx'檔案中男女同學小考(Quiz)、期中考(Mid_Exam)、期末考(Final_Exam)之平均成績是否具有顯著地差異？並以表格或圖形比較男女同學小考(Quiz)、期中考(Mid_Exam)、期末考(Final_Exam)之平均成績。

# 變異數分析(oneway ANOVA):比較多組樣本之間的平均數差異(類*量)

In [ ]:
df['REST DAYS']

0       3
1       3
2       3
3       3
4       3
       ..
2455    1
2456    0
2457    1
2458    0
2459    1
Name: REST DAYS, Length: 2460, dtype: int64

In [ ]:
df.head()

                    DATASET  R/P        DATE  ... REST DAYS  OPENING ODDS  SPREAD
0  2016-2017 Regular Season    1  10/25/2016  ...         3        205.50    9.50
1  2016-2017 Regular Season    1  10/25/2016  ...         3         -9.50   -9.50
2  2016-2017 Regular Season    1  10/25/2016  ...         3        194.00    6.00
3  2016-2017 Regular Season    1  10/25/2016  ...         3         -6.00   -6.00
4  2016-2017 Regular Season    1  10/25/2016  ...         3        210.50    8.00

[5 rows x 43 columns]

In [ ]:
#變異數分析:比較多組樣本之間的平均數差異(類*量)
#檢測不同的REST DAYS其3P三分球進球數是否有差異
from scipy import stats
(f,pv)=stats.f_oneway(df['PTS'][df['REST DAYS']==0],
                          df['PTS'][df['REST DAYS']==1],
                          df['PTS'][df['REST DAYS']==2],
                          df['PTS'][df['REST DAYS']==3])
print('%.3f,%.3f'%(f,pv))

5.121,0.002

In [ ]:
#列出不同的REST DAYS其3P三分球進球數
a=df.groupby('REST DAYS').mean()
b=a[["PTS"]]
b

             PTS
REST DAYS
0         104.08
1         105.62
2         107.36
3         106.53

In [ ]:
#列出不同的REST DAYS其3P三分球進球數
c=df.groupby('REST DAYS').count()
d=c[["DATASET"]]
d

           DATASET
REST DAYS
0              492
1             1513
2              326
3              129

In [ ]:
d.merge(b,on="REST DAYS")

           DATASET    PTS
REST DAYS
0              492 104.08
1             1513 105.62
2              326 107.36
3              129 106.53

In [ ]:
#同時想一次進行很多變數的單因子變異數分析oneway ANOVA
#把變數放進名為one的陣列中
one=['DIFF', '1Q',
       '2Q', '3Q', '4Q', 'F', 'MIN', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA',
       'OR', 'ORR', 'DRR', 'FT%', 'TOV%', 'EFG%', 'DRB%', 'ORB%', 'DR', 'TOT',
       'A', 'PF', 'ST', 'TO', 'BL', 'PTS', 'POSS', 'PACE', 'OEFF', 'DEFF',
       'REST DAYS', 'OPENING ODDS', 'SPREAD']
name2=[]
alist2=[]
pvlist2=[]
for i in range(len(one)):
  (a2,pv2)=stats.f_oneway(df[one[i]][df['REST DAYS']==0],
                          df[one[i]][df['REST DAYS']==1],
                          df[one[i]][df['REST DAYS']==2],
                          df[one[i]][df['REST DAYS']==3])
  name2.append(one[i])
  alist2.append(a2)
  pvlist2.append(pv2)

result2=pd.DataFrame(alist2,name2,columns=['F_value'])
result2.insert(1,'p-value',pvlist2)
result2

/usr/local/lib/python3.7/dist-packages/scipy/stats/stats.py:3349: RuntimeWarning: divide by zero encountered in double_scalars
  f = msb / msw

In [ ]:
one=['Credit_Limit', '1Q']
name2=[]
alist2=[]
pvlist2=[]
for i in range(len(one)):
  (a2,pv2)=stats.f_oneway(df[one[i]][df['Income_Category']=='Less than $40K	'],
                          df[one[i]][df['Income_Category']=='$40K - $60K'],
                          df[one[i]][df['Income_Category']=='$80K - $120K'],
                          df[one[i]][df['Income_Category']=='$60K - $80K'],
                          df[one[i]][df['Income_Category']=='Unknown')
  name2.append(one[i])
  alist2.append(a2)
  pvlist2.append(pv2)

result2=pd.DataFrame(alist2,name2,columns=['F_value'])
result2.insert(1,'p-value',pvlist2)
result2

In [ ]:
result2=pd.DataFrame(alist2,name2,columns=['F_value'])
result2.insert(1,'p-value',pvlist2)
result2

              F_value  p-value
DIFF             7.86     0.00
1Q               4.86     0.00
2Q               1.61     0.19
3Q               1.17     0.32
4Q               0.52     0.67
F                5.12     0.00
MIN              0.23     0.88
FG               6.64     0.00
FGA              1.29     0.28
3P               1.66     0.17
3PA              0.87     0.45
FT               0.04     0.99
FTA              0.39     0.76
OR               0.25     0.86
ORR              1.10     0.35
DRR              1.33     0.26
FT%              0.14     0.94
TOV%             0.80     0.49
EFG%             3.31     0.02
DRB%             0.78     0.51
ORB%             0.41     0.74
DR               2.16     0.09
TOT              2.20     0.09
A                4.86     0.00
PF               4.63     0.00
ST               2.91     0.03
TO               1.32     0.26
BL               3.13     0.02
PTS              5.12     0.00
POSS             3.58     0.01
PACE             3.93     0.01
OEFF             2.85     0.04
DEFF             6.51     0.00
REST DAYS         inf     0.00
OPENING ODDS    13.67     0.00
SPREAD          20.56     0.00

In [ ]:
#列出不同的REST DAYS其3P三分球進球數
a=df.groupby('REST DAYS').mean()
a

           R/P  H/R  W/E  W/L  DIFF  ...  PACE   OEFF   DEFF  OPENING ODDS  SPREAD
REST DAYS                            ...
0         1.00 1.67 1.50 0.42 -2.73  ... 95.86 107.93 110.71        130.27    2.14
1         1.00 1.45 1.50 0.52  0.71  ... 96.37 108.93 108.20         95.84   -0.54
2         1.00 1.49 1.50 0.51  0.75  ... 96.75 110.29 109.53         94.52   -0.55
3         1.00 1.42 1.49 0.51  0.16  ... 97.29 108.55 108.44         94.68   -0.39

[4 rows x 39 columns]

In [ ]:
d.merge(a,on='REST DAYS')

           DATASET  R/P  H/R  W/E  ...   OEFF   DEFF  OPENING ODDS  SPREAD
REST DAYS                          ...
0              492 1.00 1.67 1.50  ... 107.93 110.71        130.27    2.14
1             1513 1.00 1.45 1.50  ... 108.93 108.20         95.84   -0.54
2              326 1.00 1.49 1.50  ... 110.29 109.53         94.52   -0.55
3              129 1.00 1.42 1.49  ... 108.55 108.44         94.68   -0.39

[4 rows x 40 columns]

# Exercise3:
請分析‘2019STA.xlsx'檔案中不同年級同學小考(Quiz)、期中考(Mid_Exam)、期末考(Final_Exam)之平均成績是否具有顯著地差異？

# 作業：
請依附檔(StudentsPerformance.csv)進行以下分析，並說明分析結果。

１.請分析中數學成績(math_score)、閱讀成績(reading_score)與寫作成績(writing_score)之相關性。

2.請比較分析男女同學數學成績(math_score)、閱讀成績(reading_score)與寫作成績(writing_score)之差異。

3.請比較分析不同group同學數學成績(math_score)、閱讀成績(reading_score)與寫作成績(writing_score)之差異。

# 卡方檢定:想檢定兩個類別變數彼此間是否相互獨立(類VS類)

In [ ]:
#交叉表:兩個變項間的分佈狀況
#休息天數(REST DAYS)VS 勝負(W/L)的分佈狀況
#語法:pd.crosstab(index,columns,margins=True)，margins=True表顯示all，False或不命令margins則不顯示
hh=pd.crosstab(df['W/L'],df['REST DAYS'])
hh

REST DAYS    0    1    2   3
W/L
0          285  723  159  63
1          207  790  167  66

In [ ]:
#卡方檢定:想檢定兩個類別變數彼此間是否相互獨立
#分析不同休息天數(REST DAYS)VS 勝負(W/L)的差異；亦即勝負與休息天數是否顯著關係)
#匯入scipy.stats模組
#卡方檢定依序顯示卡方值、P值、自由度、與原數據同維度的對應期望值
import scipy.stats as stats
cr=stats.chi2_contingency(hh)
print("Chi-Square value=%.3f,   p_value=%.3f"%cr[0:2])

Chi-Square value=15.599,   p_value=0.001

In [ ]:
hh1=pd.crosstab(df['W/L'],df['REST DAYS'],margins=False,normalize=1)
hh1

REST DAYS    0    1    2    3
W/L
0         0.58 0.48 0.49 0.49
1         0.42 0.52 0.51 0.51

# Exercise4：
請分析東西區球隊(W/E)勝負(W/L)是否具有顯著地差異？
(亦即勝負與區域是否具有顯著地關係)

# 作業
附檔(loan.xlsx)為中小企業貸款資料，其中欄位loan：貸款還款狀況(貸款後正常繳款或違約)；in：產業別(製造業或非製造業);tpye:企業類型(家族企業或非家族企業);age:年齡層。
針對此資料請進行以下分析：

一、分析不同產業別的中小企業貸款違約比例是否具有顯著地差異。

二、分析不同企業型態的中小企業貸款違約比例是否具有顯著地差異。

三、分析不同年齡層負責人的中小企業貸款違約比例是否具有顯著地差異。

分析時請輔以視覺化圖形與檢定結果說明之。